
body, html {
  background-image: url("");
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.no_data {

  }

table.dataTable tbody tr:hover {
   background-color:#71d1eb !important;

}
